body{
    background-color:teal;
}
nav{
    margin:0;
    width:100%;
}
nav h1{
    display: inline;
    margin-top:0;
}


.main h1{
    padding-top:5%;
    text-align: center;
    font-size:60px;
}
.main p{
    padding-top:1%;
    padding-left:5%;
    padding-right:5%;
    color:white;

}
button
{
font-size:40px;
background-color:black;
color:white;
margin-left:45%;
}


.gameover{
    height:300px;
    width:200px;
    margin:5%;
    background-color: green;
}
#questionContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #0f0c29;
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#count
{
   margin-left:70%;
   font-size:30px;
   color:black;
}
#main{
    margin:5%;
    justify-content: center;
}
.container {
      padding: 20px;
      flex-direction: column;
      width: 50%;
      margin: auto;
}
 .questions {
    justify-content: center;
    padding: 210px 20px;
    margin: auto;
    height:80%;
  }